body{
    background-color: #a9d6d1 ;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
}
h1,p{
    text-align: center;
}
#form {
    background-color: #fbfbfb;
    text-align: right;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.2rem;


}
#section1 {
    padding-right: 28rem;;
}
#section2 {
    text-align: left;
    padding-left: 5rem;

}
.dropdown {
    background-color: lightgray;
    border: 1px solid gray;
    height: 2rem;
    padding: 0.4rem ;
   
}
